@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir.eot");
    src: url("../fonts/vazir.eot?#iefix") format("embedded-opentype"),
        url("../fonts/vazir.woff2") format("woff2"),
        url("../fonts/vazir.woff") format("woff"),
        url("../fonts/vazir.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'vazir';
    outline: none;
    text-decoration: none !important;
}
body{
    background:rgb(96, 0, 37);
}

table{
    border: none;
    background: rgb(208, 217, 208);
    border-radius: .5rem;
    box-shadow: 15px -10px 15px black;
}
table tbody tr:hover {
    background: rgb(159, 159, 159);
    color: rgb(255, 255, 255);
}

button {
    border: none;
    background: crimson;
    border-radius: .5rem;
    padding: 10px;
}

button:hover {
    background-color: rgb(127, 27, 47);
}

a, a:hover {
    color: rgb(54, 1, 1)!important;
}
i{
    cursor: pointer;
}
i.fa-user{
    color:rgb(0, 167, 193);
}
i.fa-phone{
color: rgb(116, 3, 39);
}
i.fa-trash{
    color: red;
}
i.fa-edit{
    color: green;
}
.add_accunt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(4, 132, 132);
    color: rgb(254, 220, 0);
    border: 1px solid;
    border-radius: 1rem;
    padding: 10px;
    box-shadow: 1rem -1rem 1rem rgb(212, 208, 208);
}
.avatar{
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    border: 2px solid wheat;
    border-radius: 50%;
}
.search_box{
    border: none;
    border-radius: .5rem;
    padding: .3rem .5rem;
}
.Modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,.95);
    z-index: 1000;
}
.modalShow{
    display:block;
}
.fa-eye{
    cursor: pointer;
}
.result_serch{
    width: 10%;
    height: 2.5rem;
}
.close_modal{
    font-size: 2rem;
    display: inline-block;
}
.added_page:hover{
 background-color: rgb(0, 107, 128);
 color: #ffffff!important;
}